#valoriInput {
    padding-right: 400px;
}

button{
    padding: 6px;
    margin-left: 15px;
    color: black;
}

.search {
    display: flex;
    justify-content: center;

}

#lista span{
    margin-right: 20px;
}
.grassetto {
    color: blue;
    font-weight: bold;
}

.flag {
    width: 30px;
}
